* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
}

.h2 {
  font-size: 350%;
  color:#007aa5
}


nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  color: #1e1e1e;
  padding: 25px 60px;
  display: flex;
  justify-content: space-between;
  border-bottom:  2px solid #007aa5 ;
  align-items: center;

  z-index: 1000;
}

.nav-left {
  font-size: 32px;
  font-weight: bold;
  margin-left: 150px;
  color:#007aa5
}

.nav-right a {
  color: #007aa5;
  margin-left: 20px;
  text-decoration: none;
  font-size: 18px;
  max-width: 50%;
  margin-right: 40px;
}

.section {
  padding: 100px 40px 60px 40px;
  margin-top: 80px;
}

.intro-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25px;
}

.intro-text {
  max-width: 40%;
  margin-right: 40px;
  font-size: 20px;
}
.intro-text-p{
  line-height: 25px;
}

.intro-image img {
  width: 500px;
  border-radius: 5px;
  margin-right: 50px;
  margin-top: 30px;
  
}

h2 {
  color:#007aa5;
  margin-bottom: 5px;
  font-size: 34px;
}

.components-grid {
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;

}

.components-grid img {
  width: 200px;
  border-radius: 8px;
  transition: transform 0.3s;
}

.components-grid a:hover img {
  transform: scale(1.05);
}

.componentes-section {
  padding: 20px 10px;
  background-color: #f5f5f5;
  text-align: center;
  
}

.componentes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: start;

}

.componente {

  background-color: white;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0,0,0,0.1);
  text-align: center;
  width: 100%;
  max-width: 300px;
  min-height: 180px;
  transition: transform 0.2s;
  text-decoration: none;
  color: inherit;
}

.componente:hover {
  transform: translateY(-4px);
}

.componente img {
  width: 100%;
  height: 100px;
  object-fit: contain;
  margin-bottom: 8px;
}

.componente p {
  
  font-weight: bold;
  font-size: 14px;
  
}

.problem-section {
  padding: 60px 20px 60px; 
  background-color: #fffefe;
  text-align: center;
  scroll-margin-top: 25px; 
}

.problem-section h2 {
  font-size: 34px;
  color: #005b96;
  margin-bottom: 10px;
}

.problem-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 40px;
  max-width: 900px;
  margin: 0 auto;
}

.problem-card {
  background-color: white;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  font-size: 1.2em;
}

.problem-card:hover {
  transform: translateY(-8px);
}

.icon {
  font-size: 2.8em;
  margin-bottom: 5px;
}

.problem-card h3 {
  font-size: 1.6em;
  margin-bottom: 5px;
}

.problem-card p {
  font-size: 1em;
  color: #555;
}

.explaining-section {
  padding: 80px 20px 40px;
  text-align: center;
  scroll-margin-top: 120px;
  
}

.explaining-section h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.media-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  justify-items: center;
}

.media-card {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  padding: 15px;
  max-width: 250px;
  text-align: center;
  transition: transform 0.3s ease;
  margin-top: 5px;
}

.media-card:hover {
  transform: translateY(-5px);
}

.media-card img,
.media-card video {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.media-card p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #444;
}

/* Lightbox igual */
.lightbox {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: center;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.lightbox img {
  max-width: 800px;
  max-height: 80vh;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255,255,255,0.2);
  transition: transform 0.3s ease;
}

.lightbox:target {
  display: flex;
  opacity: 1;
  pointer-events: auto;
}

.lightbox:not(:target) {
  display: none;
}

.lightbox .close {
  position: absolute;
  top: 20px; right: 30px;
  font-size: 2.5em;
  color: white;
  text-decoration: none;
  
}

#future {
  padding: 60px 20px;
}

#future h2 {
  padding-top: 200px;
  padding-bottom: 50px;
  text-align: center;
  color: #0077a3;
}

#future h3{
  font-size: 25px;
}
#future p{
  font-size: 18px;
}



.future-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 200px;
  
}

.future-box {
  background: #f7f7f7;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.future-box:hover {
  transform: translateY(-5px);
}

.future-box .icon {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.faq-section {
  padding: 40px 20px;
  background-color: #fffefe;
}

.faq-section h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}

.faq-container {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  gap: 20px;

}

.faq-item {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 16px 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.faq-item summary {
  font-weight: bold;
  font-size: 20px;
  list-style: none;
  position: relative;
}

.faq-item summary::marker {
  display: none;
}

.faq-item p {
  margin-top: 10px;
  font-size: 18px;
}
